.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background: #34BC48;
  border-radius: 8px;
  border: none;
  padding: 11px 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-family: Roboto;
}