.tabs-list {
  position: relative;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }

  &__tab {
    font-size: 16px;
    line-height: 22px;
    color: #4F4E57;
    padding: 11px 20px;
    border-bottom: 2px solid #DFDFDF;
    cursor: pointer;

    &.react-tabs__tab--selected {
      color: #34BC48;
      border-color: #34BC48;
    }
  }
}