.header {
  background: #2DC033;
  padding: 28px 0;

  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}